body{
    background: url(Background.jpg)no-repeat;
    background-size: cover contain;
}

.Head{
    padding: 50px;
    background-color: powderblue;
    align-content: center;
    align-items: center;
    justify-content: center;
}