<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_customer.css' )}}">
        <title><h1>Grocery store</h1></title>
    </head>
    <body>
        <div class="Head">
            <center><h1>GROCERY STORE</h1></center>
        </div>
        <form class="editForm" id="editForm" action="{{ url_for('edit_customer',customer_id=customer.customer_id) }}" method="POST">   
            <div class="Container">
                <div class="inputfields" method="POST">
                    <center><input name="firstname" type="text" id="FirstName" placeholder="Enter your Firstname"value="{{ customer.first_name }}"></center>
                    <center><input name="lastname" type="text" id="LastName" placeholder="Enter your Lastname" value="{{ customer.last_name }}"></center>
                    <center><input name="address" type="text" id="address" placeholder="Enter your address"value="{{ customer.address }}"></center>
                    <center><input name="gmail" type="email" id="gmail" placeholder="Enter your gmail"value="{{ customer.mail_id }}"></center>
                    
                   
                </div>
                
                <div class="buttonhome" method="POST">    
                    <center><input type="submit" value="ConfirmDetails"></center>
                </div> 
                     
                </div>
            </div>
        </form> 
         
    </body>
</html>