<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css' )}}">
        <title><h1>Grocery store</h1></title>
    </head>
    <body>
        <div class="Head">
            <center><h1>GROCERY STORE</h1></center>
        </div>
        <form class="LoginForm"  method="get" id="form" action="home.html">   
            <div class="Container">
                <div class="inputfields" method="POST">
                    <center><input name="FirstName" type="text" id="Fname" placeholder="Enter your Firstname"></center>
                    <center><input name="LastName" type="text" id="Lname" placeholder="Enter your Lastname"></center>
                    <center><input name="CustomerID" type="text" id="CustID" placeholder="Enter your CustomerID"></center>
                    <center><input name="Contact_no" type="tel" id="contact" placeholder="Enter your Contact info"></center>
                    <center><input name="address" type="text" id="address" placeholder="Enter your address"></center>
                    <center><input name="gmail" type="email" id="gmail" placeholder="Enter your gmail"></center>
                 
                <div class="buttonhome" method="POST">    
                    <center><button type="submit">submit</button></center>
                </div> 
                     
                </div>
            </div>
        </form> 
         
    </body>
</html>